<div class="mt-4 col-8 offset-2">
  <div class="card border-info mb-3">
    <div class="card-header">
      <h3 class="card-title text-center" >Registro de Usuarios</h3>
    </div>
    <div class="card-body">

      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" >
        
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" 
            #name="ngModel" [(ngModel)]="user.name"  required >
            <div class="alert alert-danger" [hidden]="!error.name">
              {{error.name}}
            </div>
          </div>
        </div>
        
        <div class="form-group row">
          <label for="surname" class="col-sm-2 col-form-label">Apellido</label>
          <div class="col-sm-10">
            <input type="text" name="surname" class="form-control" id="surname" placeholder="Apellido" 
           #surname="ngModel" [(ngModel)]="user.surname" required  >
            <div class="alert alert-danger" [hidden]="!error.surname">
              {{error.surname}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            [(ngModel)]="user.email" required>
            <div class="alert alert-danger" [hidden]="!error.email">
              {{error.email}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label"> Contraseña</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña" pattern=".{8,}"
            #password="ngModel" [(ngModel)]="user.password" required>
            <span  class="alert-danger" ng-messages="!registerForm.password.$error">
              <p  style="pointer-events: none;" ng-message="minlength">La contraseña debe tener mínimo 8 carácteres </p>
            </span>
          </div>
        </div>


        <div class="form-group row">
          <label for="role" class="col-sm-2 col-form-label">Selecciona un rol</label>
          <div class="col-sm-10">

            <select class="form-control" required    id="role"
             [(ngModel)]="user.roles_id" name="role" >
              <option selected disabled >Elige un rol para este usuario...</option>
              <option value={{rol.id}} *ngFor="let rol of misroles"> {{rol.nombre}} </option>
            </select>
            <div class="alert alert-danger" [hidden]="!error.roles_id">
              {{error.roles_id}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="telefono" class="col-sm-2 col-form-label">Teléfono</label>
          <div class="col-sm-10">
            <input type="number" name="telefono" class="form-control" id="telefono" placeholder="Teléfono"  pattern=".{10,}"
            #telefono="ngModel" [(ngModel)]="user.telefono"  required>
            <div class="alert alert-danger" [hidden]="!error.telefono">
              {{error.telefono}}
            </div>
          </div>
        </div>

        

        <div class="form-group row">
          <div class="col-sm-10 offset-2"> 
            
             <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid"
             >Registrar</button>
            </div>
        </div>

      </form>
    </div>
  </div>
</div>
